.container{
    max-width: 1440px;
    width: 100%;
    margin: 0% auto;   
    background: linear-gradient(30deg, #f7c4f4, #2c585b, #d7aed5, #070a0a);
  
    /* background-color: #49712b;
background-image: linear-gradient(132deg, #49712b 0%, #d1ceb4 19%, #b2e8b0 39%, #147fac 60%, #bed1bf 80%, #d8b7b7 100%);
; */
/* background-color: #3a59e6;
background-image: linear-gradient(43deg, #7c8ad9 0%, #0b0c0c 46%, #FFCC70 100%); */
/* background-color: #7d3769;
background-image: linear-gradient(135deg, #7d3769 0%, #2d65c3 19%, #897abd 39%, #81a8d4 60%, #256ba0 80%, #6071c5 100%); */

}

header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid #0000ff; */
    padding: 22px 19px 22px 19px;
    background-color: #234329;
   background-image: linear-gradient(147deg, #234329 0%, #794e79 24%, #e7c4f7 49%, #5a5f81 75%, #314ecd 100%);
    box-shadow: inset 15px 10px 5px rgb(135, 93, 120), inset -15px -10px  5px rgb(135, 93, 120);
}



header span{
    font-size: 24px;
    color: #211828; 
    font-weight: bold;
    letter-spacing: 5px;
    transition-duration: 1s;
    font-family: 'Roboto';
}

span:hover{
    font-size: 35px;
    text-shadow: 10px 8px 9px rgb(178, 171, 214);
    
}

   span:nth-child(2){
    animation: animation 1s linear infinite;
   } 
   @keyframes animation {
    100% {
        color: rgb(80, 156, 213);
    }
   }


header li{
   
    display: flex;
    display: inline-block;
    color: #343638;
    margin-right: 30px;
    font-size: 14px; 
    line-height: 20px;
}


.active{
    color: black;
    font-weight: bold;
}

nav ul li:hover{
    font-size: 18px;
    border-bottom: 3px solid #8a467a;
}

nav{


}

   /* -----------------section 1 left side -------------- */
.section1{
    
    display: flex;
    width: 100%;
    margin: auto 0;
    /* flex-wrap: wrap; 
    justify-content: space-between; */
    align-items: center;
    /* border: 2px solid red; */
    margin-top: 0;
}

.left-div{
    width: 60%;
    height: 100%;
    background-image:  url(../images/img1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11rem 6.1rem 11rem 8.7rem;
}

.text1{
    margin-bottom: 10px;
    display: inline-block;
    color: white;
    font-size: 16px;
    padding: 15px;
}

.worldnews{

    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
}

.line{

    margin: 15px 0;
    border-top: 3px solid white;
}
.section1 h2{
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}


button{
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
border-radius: 6px; 
width: 134px;
height: 40px;
position: absolute;
margin-top: 30px;
color: #ffffff;

}

button:hover{
    background-color: #4158D0;
     box-shadow: -5px -5px#4158D0;
     ;
 }

  /* -----------------section 1 right side -------------- */

.rightdiv{
   
   width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 80px 0 100px;

}

.right-div__title{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 38px;
    border-bottom: 1px solid  #ebeded;
    width: 100%;
}



.title1{

    color: #FA6980;
    font-weight: bold;
    text-align: left;
    margin-top: 35px;
}

.title2{
    text-align: left;
    font-weight: bold;
    margin-top: 20px;

}
.P_sect1{
    color: #a6adb4;
    text-align: left;
    margin-top: 15px;
  
}

.article{

    display: flex;
   flex-direction: column;

}

.line2{
    width: 100%;
    height: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: #EBEDED;
    margin-top: 30px; 

}
i{

    font-size: 9px;
    color: #A6ADB4;
    font-weight: bold;
    display: flex;
    text-align: left;
    margin-top: 10px;
    gap: wrap;
}


/*------------------ second part------------------ */


.article1{
 padding-left: 140px;
 padding-right: 140px;
 margin: 35px auto;
 /* display: flex; */
 /* flex-direction: column; */
  /* border: 2px solid #0000ff; */
 
}

.article-card-main{
    z-index: 1;
    overflow: hidden;
    margin: 50px 38px 64px 38px;
}

.article1 h1{
margin-top: 40px;
font-size: 24px;
line-height: 20px;
font-weight: bold;
color: #3f4b6d;
}

.articlecards{
width: 100%;
margin-top: 40px;
display: flex;
justify-content: space-between;
gap: 34px;

}

.card{
box-shadow: 8px 12px 8px rgb(50, 62, 147);
border-radius: 15px;
background-color: #234329;
background-image: linear-gradient(147deg, #234329 0%, #794e79 24%, #e7c4f7 49%, #5a5f81 75%, #314ecd 100%);
overflow: hidden;

}

.cardimg{
width: 100%;
border-radius: 20px;
z-index: 0;
/* border: 2px solid blue; */
overflow: hidden;
}

.cardimg-img:hover{
    transition-duration: 9s;
    transform: scale(2);
}
.cardimg-img{
    width: 100%;
}


.article1 h2{
font-size: 16px;
font-weight: bold;
color: #202124;
}

.article1 p{
font-size: 13px;
margin-top: 16px;
color: #dbedfe;
display: flex;
flex-direction: column;
text-align: left;
}



/* ----------------third part ---------------*/

.section2{

     width:80% ;
    /* border: 2px solid purple; */
    margin: 0 auto;
    font-size: 24px; 
}

.section2 h1{
font-size: 24px;
font-weight: bold;
margin-top: 30px;
margin-bottom: 30px;
color: #3f4b6d;
}

.container2{
 /* border: 2px solid red; */
 display: flex;
 justify-content: space-between;
 align-items: center;

}

.leftside{
    /* border: 2px solid red; */
    width: 65%;
}

.section2 h3{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.section2 h2{

    font-size: 24px;
    font-weight: bold;
    margin-top: 232px;
    color: #ffffff;
}

.section2 p{
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    color: #ffffff;

}

.bridge{
background-image: url(../images/img5.png);
width: 100%;
height: 470px;
background-size: cover;
border-radius: 20px;
background-position: center;
padding: 3rem 4rem 9rem 2rem;

}

.wood{
    background-image: url(../images/img6.png);
    width: 100%;
    height: 470px;
    margin-top: 20px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    padding: 3rem 4rem 9rem 2rem;

}

.article2{
    width: 100%;
    height: 965px;
    display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding-bottom: 8px;
 /* border: 3px solid blue; */

}

figcaption{
font-size: 16px;
margin-top: 48px;
font-weight: bold;
color: #2e354a;
}


/* ------------------footer-------------------- */
footer{
    display: flex;
    height: 200px;
    margin-top: 100px;
    /* border: 3px solid red; */
    background-color: #234329;
    background-image: linear-gradient(147deg, #234329 0%, #794e79 24%, #e7c4f7 49%, #5a5f81 75%, #314ecd 100%);
    width: 100%;
    justify-content: space-between;

}

footer p{
    color: white;
    margin-left: 145px;
    margin-top: 57px;
   font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    }

.footerdiv{
display: flex;
line-height: 24px;
justify-content: space-between;
gap: 25px;
}



footer ul{
    display: flex;
    flex-direction: column;
    margin-top: 57px;
    margin-left: 35px;
    color: #CBD0D3;
    font-size: 14px;
    
}

.icon{
    width: 30%;
    display: flex;
    gap:30px;
    color: white;
    justify-content: center;
    margin-top: 52px;

}

.icon i{
    color: white;
    font-size: 24px;
}


 /* -----------------page 2 section 1 left side -------------- */
 
 
 .page2sect2{

    /* width: 1160px; */
    display: flex;
    /* margin: 0 auto; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    background-color: #ffffff;
    margin: 105px 140px 39px 140px;
}

.forimg{
    width: 50%;
    height: 500px;
    background-image:  url(../images/img10.png);
    /* background-position: center; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.worldnews2{

    color: white;
    font-weight: bold;
    font-size: 30px;
}

 /* -----------------page 2 section 1 right side -------------- */

.page2sect2{
    background-color: #234329;
    background-image: linear-gradient(147deg, #234329 0%, #794e79 24%, #e7c4f7 49%, #5a5f81 75%, #314ecd 100%);

}


.page2rightdiv2{
 margin: 0 auto;
/* border: 2px solid red; */
width: 362px;
}


.formspan{
margin-bottom: 8px;

}

.nameInputs{
   display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* background-color: 2px solid rgb(202, 30, 30); */

}

form input{
font-size: 30px;
border-radius: 10px;

}

.formspan{
font-size: 17px;
font-weight: bold;
color:rgb(71, 64, 64);

}


/* -----------------page 2 article  -------------- */
 

.article-second-page{

    /* border: 2px solid #0000ff; */
    margin: 35px auto;
    font-size: 14px; 
    color: #ebeded;
    line-height: 26px;
    width: 1160px;
    border-bottom: 2px solid #8a467a;
    border-top: 2px solid #8a467a;
 
}

.main-div-article{
    width: 1160px;
    height: 255px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */

   }

   .card-article{
    width: 351px;
    display: flex;
    flex-direction: column;
    /* border: 3px solid green; */
    margin-top: 42px;

    }
   
   .article-second-page img{
    width: 60px;
    height: 60px;

   }
   .article-second-page .largetext{
     font-size: 24px;
     font-weight: bold;
     color: black;
     margin-top: 20px;
   }

   
   .article-card{
       margin: 50px 38px 64px 38px;
   }



/* -----------------page 2 part 3  -------------- */


.sect3{
    margin: 40px auto;
    font-size: 16px; 
    color:#ebeded;
    width: 1160px;
    line-height: 26px;
    border-bottom: 2px solid #8a467a;

}


.elephant-text{
margin-bottom: 40px;
margin-top: 80px;

}


.sect3 p{
font-weight: 400px;
line-height: 26px;
}




   
/* .logo{
    width: 70px;
    height: 16px;
  }
  .logo img{
    width: 100%;
  } */

/* gadawyoba */
  
/* responsive */

@media only screen and (max-width: 768px) {
    body {
      background: linear-gradient(30deg, #f7c4f4, #2c585b, #d7aed5, #070a0a);
    }
    .container{
        max-width: 768px;
        width: 100%;
    }
    .section1{
        flex-direction: column;
    }
    .left-div{
        width: 100%;
    }
    .rightdiv{
    
        width: 100%;
    }
     .article{
       width: 80%;
       flex-direction: row;
       color: #070a0a;
       display: flex;
       justify-content: space-between;


     }
     .right-div__title{
        width: 80%;

     }

     .div-article {
        width: 47%;

     }
    .rightdiv h1{
      
        margin-top: 40px;
    }
    .P_sect1 {
     
       color: #d2f0f0;
       font-weight: 300;
       line-height: 20px;
       font-size: 14px;
    }

    .rightdiv i{
        color: #d2f0f0;
        font-weight: 300;
           line-height: 20px;
           font-size: 7px;
      }
    

       /* trending */
 
  


    .article1{
        width: 98%;
      
        
    }

   .articlecards{
    width: 80%;
}


    .d-none{
        display: none;
    }