.container{
    max-width: 1440px;
    width: 100%;
    margin: 0% auto;   
}

header{
    border: 2px solid #0000ff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 22px;
}

header li{
    display: inline-block;
    color: #343638;
    margin-right: 30px;
}


.active{
    color: #343638;
}

   /* -----------------section 1 left side -------------- */
.sect1{
    
    display: flex;
    width: 100%;
    margin: auto 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    background-color: #ffffff;
}

.leftdiv{
    width: 60%;
    height: 100%;
    background-image:  url(../images/img1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11rem 6.1rem 11rem 8.7rem;
}

.text1{
    margin-bottom: 10px;
    font-weight: bold;
    display: inline-block;
    color: white;
    font-size: 16px;
    padding: 15px;
}

.worldnews{

    color: white;
    font-weight: bold;
    font-size: 24px;
}

.line{

    margin: 15px 0;
    border-top: 3px solid white;
}
.sect1 h2{
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

button{
background-color: #FA6980;
border-radius: 6px; 
width: 134px;
height: 40px;
position: absolute;
margin-top: 30px;
color: #ffffff;

}

  /* -----------------section 1 right side -------------- */

.rightdiv{
   
   width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 80px 0 100px;

}

.right-div__title{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 38px;
    border-bottom: 1px solid  #ebeded;
    width: 100%;
}


.Title1{

    color: #FA6980;
    font-weight: bold;
    text-align: left;
    margin-top: 35px;
}

.title2{
    text-align: left;
    font-weight: bold;
    margin-top: 20px;

}
.P_sect1{
    color: #a6adb4;
    text-align: left;
    margin-top: 15px;
  
}

.article{

    display: flex;
    flex-wrap: wrap;

}

.line2{
    max-width: 382px;
    width: 100%;
    height: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
    background-color: #EBEDED;
    margin-top: 30px; 

 
}
i{

    font-size: 9px;
    color: #A6ADB4;
    font-weight: bold;
    display: flex;
    text-align: left;
    margin-top: 10px;

}

/*------------------ second part------------------ */


.article1{
 padding-left: 140px;
 padding-right: 140px;
 border: 2px solid #0000ff;
 margin: 35px auto;
 font-size: 24px; 
 display: flex;
 flex-direction: column;
}

.article1 h1{

margin-top: 25px;
font-size: 24px;
}

.articlecards{
width: 100%;
margin-top: 35px;
display: flex;
justify-content: space-between;
align-items: center;
border: 3px solid green;
gap: 34px;
}

.card{
display: flex;
flex-direction: column;
box-shadow: 0px 2px 4px rgb(0,32,26);
border-radius: 15px;
}

.cardimg{
width: 360px;
height: 170px;
overflow: hidden;
transform: scale(1);

}

.article-card{
    margin: 50px 38px 64px 38px;
}

.article1 h2{
font-size: 16px;
font-weight: bold;
}

.article1 p{

font-size: 13px;
margin-top: 16px;
color: #A6ADB4;
display: flex;
flex-direction: column;
text-align: left;
}

/* ----------------third part ---------------*/

.section2{

     width:80% ;
    border: 2px solid purple;
    margin: 35px auto;
    font-size: 24px; 
}

.section2 h1{
font-size: 24px;
font-weight: bold;
margin-top: 30px;
margin-bottom: 30px;

}

.container2{
 border: 2px solid red;
 display: flex;
 justify-content: space-between;
 align-items: center;

}

.leftside{
    border: 2px solid red;
    width: 65%;
}

.section2 h3{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.section2 h2{

    font-size: 24px;
    font-weight: bold;
    margin-top: 232px;
    color: #ffffff;
}

.section2 p{
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    color: #ffffff;

}

.bridge{
background-image: url(../images/img5.png);
width: 100%;
height: 470px;
background-size: cover;
border-radius: 20px;
background-position: center;
padding: 3rem 4rem 9rem 2rem;

}

.wood{
    background-image: url(../images/img6.png);
    width: 100%;
    height: 470px;
    margin-top: 20px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    padding: 3rem 4rem 9rem 2rem;

}

.article2{
    width: 100%;
    height: 965px;
    display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding-bottom: 0px;
 border: 3px solid blue;

}

figcaption{
font-size: 16px;
margin-top: 48px;

}


/* ------------------footer-------------------- */
footer{
    display: flex;
    height: 200px;
    border: 3px solid red;
    background-color: #9898ad;
    width: 100%;

}

footer p{
    color: #080101;
    margin-left: 145px;
    margin-top: 57px;
    /* border: 2px solid black; */
    letter-spacing: 10px;
    font-weight: bold;
    }

.footerdiv{
display: flex;
line-height: 15px;
justify-content: space-between;
gap: 25px;
}



footer ul{
    display: flex;
    flex-direction: column;
    margin-top: 57px;
    margin-left: 35px;
    color: #CBD0D3;
    
}

.icon{
    display: flex;
    gap:30px;
    color: white;
    justify-content: center;
    margin-top: 52px;
    margin-left: 600px;
   
}

.icon i{
    color: white;
    font-size: 24px;
}


 /* -----------------page 2 section 1 left side -------------- */
 
 
 .page2sect2{

    width: 1160px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    background-color: #ffffff;
}

.forimg{
    width: 50%;
    height: 500px;
    background-image:  url(../images/img10.png);
    /* background-position: center; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.worldnews2{

    color: white;
    font-weight: bold;
    font-size: 30px;
}

 /* -----------------page 2 section 1 right side -------------- */

.page2rightdiv2{
 margin: 0 auto;
border: 2px solid red;
width: 360px;
}


.formspan{
margin-bottom: 8px;

}

.nameInputs{
   display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: 2px solid black;

}

form input{
font-size: 30px;
border-radius: 10px;

}

.formspan{
font-size: 17px;
font-weight: bold;
color:rgb(71, 64, 64);

}


/* -----------------page 2 article  -------------- */
 

.article-second-page{

    /* border: 2px solid #0000ff; */
    margin: 35px auto;
    font-size: 16px; 
    color: #A6ADB4;
    width: 1160px;
 
}

.main-div-article{
    width: 1160px;
    height: 255px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    

   }

   .card-article{
    width: 351px;
    display: flex;
    justify-content: spa;
    flex-direction: column;
    /* border: 3px solid green; */
    margin-top: 42px;
  
 
    }
   
   .article-second-page img{
    width: 40px;
    height: 40px;

   }
   .article-second-page .largetext{
     font-size: 24px;
     font-weight: bold;
     color: black;
     margin-top: 20px;
   }
   
   

   
   .article-card{
       margin: 50px 38px 64px 38px;
   }













   
/* .logo{
    width: 70px;
    height: 16px;
  }
  .logo img{
    width: 100%;
  } */ */